// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}
  
body {
  @include serif-font;
}

#contact {
	background-color: $bg;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
	color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.text-medium {
		font-size: 14px;
		a {
				color: #FFCCB2;
				font-style: italic;
		}
	
		
}

.text-medium.fa-4x {
		font-size: 4em;
}

.light-text {
		color: $white; 
		.text-muted {
			color: $gray-300 !important;
		} 
  
  a {
    color: $light-link;
    &:hover {
      color: $white;
    }
  }
}
.text-muted {
		a {
					color: #FFCCB2;
					font-style: italic;
			}
}

.text-popout { 
		color: $white;
		padding: 8px;
		border-radius: 8px; 
		margin-bottom: 1em;
		-webkit-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
}


.black-tint {
		background-color: rgba(0, 0, 0, 0.3);
}

.black-text {
		color: #FFAA98;
		font-weight: bold;
		text-decoration: underline;
}
.black-text:hover {
		color: #601500; 
		font-weight: bold;
		text-decoration: underline;
}
.bg-light {
	background-color: #f6f3f2 !important;
}

.top-buffer {
		margin-top: 16px;
}

.bg-primary-img {
  background-image: url(../img/orange-bg.jpg);
    background-attachment: fixed;
	-webkit-box-shadow: inset 0px 0px 6px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 6px 5px rgba(0,0,0,0.25);
	box-shadow: inset 0px -10px 15px -2px rgba(0,0,0,0.25), inset 0px 10px 12px 0px rgba(0,0,0,0.25);
}
.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .2);
}

section {
  padding: 4rem 0;
}

.section-heading {
  margin-top: 0;
	font-size: 2em;
	text-align: center;
	font-family: 'Rammetto One', cursive;
	display: block;
}

  
::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900; 
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-900;
}


.about-me-bullet {
	color: $gray-200;
	display: inline-block;
	margin: 8px 0; 
	font-weight: normal;
	width: 90%;
	text-align: left;
	font-style: italic;
	text-indent: 1em;
	&:before {
    content: "\f101";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome; 
		margin-right: 1em;
 }
	strong { 
		color: #fff;
	}
}

.text-bold {
	font-weight: bold;
}

.top-space {
	padding-top: 1em;
}


.hide {
	display: none;
}