
.modal-content {
	background-color: $bg;
	color: $primary-dark;
	max-height: 90vh; 
}
.modal-body {
	padding: 0 15px; 
	.row {
		background-color: #fff;
	}
}
.modal-header {
	text-align: center;
	overflow: hidden;
	min-height: 5em;
	align-items: center;
	flex-wrap: wrap; 
}
.modal-header, .modal-footer {
	background-color: #fff;
	font-weight: bold;
}

.modal-footer { 
	min-height:3em;
	padding:2px;
	align-items: center;
	
	a {
		color: #fff !important; 
	}
}

//todo-responsive: add breakpoint where <p> width and image-row width gets set to 100%
.project-container {
    color: $primary-dark;
    background-color: $bg;
  row {
    margin: 0;
    text-align: center;
  }
  p {
    width: 80%;
  }
  
}

.project-img-col {
	position: relative;
	background-color: #e5e6e8; 
	
	-webkit-box-shadow: inset 0px 0px 6px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 6px 5px rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 8px 8px rgba(0,0,0,0.25);
	padding: 8px 24px;
	
	max-height: 80vh;
	overflow-y: auto;
	 
}

.project-video-link-wrapper {
	margin: 0;
	padding: 0;
	height: 400px;
	position: relative;
	display: inline-block;
}
.play-icon {
	position: absolute;
	width: 50%;
	height: 50%;
	color: #000;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 25%;
	font-size: 100px;
}
.project-img-display {
	padding: 4px 0;
	display: inline-block; 
	background-color: #242424;
}
.project-img {
	max-width: 21%;
	height: 120px;
	margin: 4px 0 4px 2%;
	box-sizing: border-box;
	cursor: pointer;
}


.img-active { 
	padding: 1px;
	border: 1px $secondary solid !important;
}

.project-img-main {
	max-width: 60%; 
	margin-top: 32px; 
}
.media-row {
	justify-content: center;
    text-align: center;
	margin-bottom: 32px;
	background-color: #444 !important;
}
.media-row .project-iframe-wrapper img {
	display: none;
}
.project-iframe-wrapper { 
	position: relative;
	text-align: center;
	img {
		width: 100%;
		height: auto;
		visibility: hidden; 
	}
}
.project-iframe {
	display: inline-block;
	margin: 0 auto;
	max-width: 90%;
	width: 800px;
	height: 540px;
}



.proj-content-row {
	justify-content: center;
	text-align: center;
	padding: 12px 24px;
  width: 80%;
  margin: 0 auto;
}

.project-info {
	padding-top: 10px;
	padding-bottom: 10px; 
	max-height: 80vh;
	overflow-y: auto;
	text-align: center;
}
.project-header {
	font-weight: bold;
	font-family: 'Nanum Myeongjo', serif;
	display: block;
	width: 100%;
}
.tldr {
	font-size: 13px !important; 
	text-align: center;
}

.project-subheader {
	font-weight: bold;
    font-family: 'Merriweather';
	width: 100%;
	display: block; 
	margin-top: 24px;
    width: 80%;
    text-align: left;
}

.project-tech {
	font-style: italic;
}

.project-text {
	text-align: left;
	font-size: 12px;
	font-family: 'Nanum Myeongjo', serif;
	display: inline-block;
}


.quote {
	display: inline-block;
	text-align: center;
	p {
		display: inline-block;
		padding-top:1em;
		width: 80%;
		font-style: italic;
		font-size: 12px;
		line-height: 28px;
		&:before {
			content: '"'; 
			font-size: 26px; 
		}
		&:after {
			content: '"'; 
			font-size: 26px; 
		}
	}
}



@media (max-width: 991px) {
  .row {
    
	.project-iframe {
		display: inline-block;
		margin: 0 auto;
		max-width: 90%;
		width: 400px;
		height: 270px;
	}
  }
  .project-img-main {
    max-width: 100%;
  } 
  
  .project-container {
    padding-top: 22px;
    p {
      width: 100%;
    }
  }
}


@media (max-width: 650px) {
  .project-img {
    height: 80px;
  }
}






